h1{
    color: rgb(5, 247, 163);
    background-color: rgb(59, 90, 176);
    font-style: italic;
     text-align: center;
}
p{
    /* .imprima-regular { */
  font-family: "Imprima", sans-serif;
  font-weight: 500px;
  font-style: 30px;
  color: #0b0c0a;

}
body{
    background-image:url(web.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* a{
    float: left;
    width: 33.3%;
    
} */

.k3{
    float: left;
    width: 33.3%;
}
.z2{
    float: left;
    width: 33.3%;
}
.a1{
    float: right;
    width: 33.3%;
}